/* Google Font */
.inter-font {
  font-family: "Inter", sans-serif;
}

.geist-font {
  font-family: "Geist", sans-serif;
}

.active {
  background-color: #15803D;
  color: white;
}

.active2{
  background-color: #15803D;
  color: white;
}